/* Fonts */



/* Basic Styles */
*::after, *::before {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* container */
#container {
    width: 100vw;
    height: 100vw;
    display: flex;
}

#side-image {
    width: 35%;
    height: 100%;
    padding-top: 10%;
    background-image: url(./Luffy.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#side-image #logo {
    width: 100%;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.438);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* Add a font family */
}

#logo img {
    height: 100%;
}


#content {
    width: 65%;
    height: 100%;
}